/* 
    Add to late
*/

.btn {
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.btn-default {
    background-color: white;
}

.btn-tick::after {
    position: absolute;
    content: '';
    height: 10px;
    width: 3px;
    background-color: var(--cool-color);
    left: 50%;
    top: 50%;
    transform: rotate(-45deg) translate(-50%, -50%);
}

.btn-tick::before {
    content: '';
    height: 18px;
    width: 3px;
    background-color: var(--cool-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
}

.btn-checkbox {
    border: 2px solid var(--cool-color);
}

.btn-checkbox.checked::after {
    position: absolute;
    content: '';
    width: 70%;
    height: 70%;
    background-color: var(--cool-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.btn-delete,
.btn-tick {
    border: none;
}

.btn-delete::before,
.btn-delete::after {
    position: absolute;
    content: '';
    height: 15px;
    width: 3px;
    background-color: var(--light-color);
}

.btn-delete::after {
    transform: rotate(45deg);
    top: 0;
}

.btn-delete::before {
    transform: rotate(-45deg);
    top: 0;
}

.btn-checkbox,
.btn-tick,
.btn-delete {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
